.question {
    display: flex;
    align-items: center;
    min-height: 450px;
    background: var(--gradient-base-background-2);
}
.question__row {
    width: 100%;
}
.question__title > * {
    font-size: 6.0rem;
}
.question__text {
    max-width: 320px;
}
.question__text a {
    color: rgba(var(--color-link), var(--alpha-link));
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.1rem;
    transition: text-decoration-thickness var(--duration-short) ease;
}
.question__text p {
    font-size: 2.0rem;
}
.question__text a:hover {
    color: rgb(var(--color-link));
    text-decoration-thickness: 0.2rem;
}